apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-kuma-backup
  namespace: uptime-kuma
  labels:
    app: uptime-kuma-backup
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
