# Values file for deploying kuma-versionizer (see https://github.com/hjukic/kuma-versionizer)

schedule: "*/5 * * * *"

image:
  repository: ghcr.io/hjukic/kuma-versionizer
  tag: "main"

uptimeKuma:
  url: "http://uptime-kuma.uptime-kuma.svc.cluster.local:3001"
  usernameSecret:
    name: "uptime-kuma-credentials"
    key: "username"
  passwordSecret:
    name: "uptime-kuma-credentials"
    key: "password"

services:
  - monitorName: "webapp-color"
    versionEndpoint: "http://webapp-color.webapp-color.svc.cluster.local/static/version.txt"
    # tagPrefix: "Version" # Uptime Kuma tag prefix. Version is the default prefix
  - monitorName: "SonarQube Test"
    versionEndpoint: "https://sonarqube-test.soka-bau.de/api/server/version"
  - monitorName: "SonarQube Prod"
    versionEndpoint: "https://sonarqube.soka-bau.de/api/server/version"
  - monitorName: "Jenkins Prod"
    versionEndpoint: "https://jenkins-channel.soka-bau.de"
    versionHeader: "X-Jenkins"
  - monitorName: "GAT Medlungprozessor"
    versionEndpoint: "https://test.webapps.soka-bau.de/gat-meldungsprozessor-rest-inh/version/dbJpaLibVersion"

verifySSL: "false"

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi